body {
    background-image: url("Campus View-01.jpg");
}

.main{
    width: 100%;
    height: 50vh;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
}

/* .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
} */


.navbar-nav {
    margin-left: auto;
}
li.nav-item{
    
    padding: 10px;
}



